.MetadataSetField h3 a {
	font-size: 14px !important;
}

.MetadataSetField .ui-accordion-content {
	padding-left: 10px;
	padding-right: 10px;
}

.MetadataSetField .ui-accordion-content .middleColumn {

}

.ss-metadatasetfield-description {
	margin: 0 0 10px 0;
}

.ss-metadatasetfield-keywordreplacements { display: none; }
.ss-metadatasetfield-keywordreplacements h3 { font-size: 20px; margin-bottom: 10px; }
.ss-metadatasetfield-keywordreplacements h4 { font-size: 15px; margin-bottom: 8px; }
.ss-metadatasetfield-keywordreplacements p { margin-bottom: 10px; }
.ss-metadatasetfield-keywordreplacements ul { padding-left: 20px; margin-bottom: 20px; }
.ss-metadatasetfield-keywordreplacements li { font-size: 12px; list-style: disc; }
.ss-metadatasetfield-keywordreplacements li strong { font-size: 12px; }